.edit-sell-container {
    width: 75%;
    margin: 80px auto 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .edit-sell-heading {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .image-container {
    margin-bottom: 20px;
  }
  
  .current-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  
  .form-container {
    width: 100%;
  }
  
  .create-form label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .create-form input,
  .create-form textarea,
  .create-form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .create-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .create-form button:hover {
    background-color: #0056b3;
  }
  