.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-left {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    height: 100%;
  }
  
  .login-logo {
    max-height: 100%;
  }
  
  .login-right {
    width: 50%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10%;
  }
  
  .login-right h2 {
    font-size: 24px;
    color: #000000;
  }
  
  .login-right h4 {
    font-size: 16px;
    color: #000000;
  }
  
  .login-form-group {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .login-button {
    padding-top: 5px;
    width: 100%;
    height: 40px;
    background-color: #000000;
    color: white;
  }
  
  .signup-link {
    margin-top: 10px;
    margin-left: 50px;
  }
  
  .signup-link span {
    color: #000000;
  }
  
  .signup-link a {
    color: black;
  }
  
  .black-link {
    color: #000000;
  }
  
  .login-form-group .MuiTextField-root {
    width: 400px;
  }

  .button-like{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-decoration: underline;
  }
  