/* ProductDisplay.css */
.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.product-card {
  position: relative; /* Make the parent container relative for absolute positioning */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 700px;
  width: 2000px;
  padding-left: 50px;
  padding-right: 50px;
}

  .product-image {
    width: 100%;
    height: 300px; /* Set the desired height */
    object-fit: cover; /* Ensure the image covers the specified dimensions */
    border-bottom: 1px solid #f0f0f0;
  }
  
  
  .product-details {
    padding: 16px;
    display: flex;
    flex-direction: column;
  }
  
  .product-name {
    font-weight: bold;
    margin: 0;
  }
  
  .product-category,
  .product-bid,
  .product-time {
    margin: 8px 0;
  }
  
  .visuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

  .view-product-button{
    padding: 10px 20px;
    background-color: #1c120d;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    align-items:end;
    margin-bottom: 10px;
  }
