/* General container setup */
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Left side setup */
.signup-left {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #000000;
  color: #ffffff;
}

.signup-left-content {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  left: 20px;
  padding: 20px;
  text-align: center;
  padding-left: 30px;
}

.signup-left-content h2 {
  font-size: 60px;
  margin-bottom: 10px;
}

.signup-left-content p {
  font-size: 16px;
}

/* Right side setup */
.signup-right {
  width: 50%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10%;
}

.signup-right h2 {
  font-size: 24px;
  color: #000000;
}

.signup-form-group {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

.signup-form-group .MuiTextField-root {
  width: 400px;
}

/* Button styles */
.signup-button {
  width: 100%;
  height: 40px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-button:hover {
  background-color: #45a049;
}

/* Link button styles */
.link-button {
  background: none;
  color: blue;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  font-size: inherit;
  font-family: inherit;
  padding: 0;
}

/* Signup link styles */
.signup-link {
  margin-top: 20px;
}

.signup-link a {
  color: #060708;
}

/* Password requirements styles */
.password-requirements {
  margin-top: 10px;
}

.requirement-satisfied {
  color: green;
}

.requirement-unsatisfied {
  color: rgb(255, 0, 0);
}
