.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Inside Signup.css */
.signup-left {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #000000;
  color: #ffffff;
}

.signup-left-content {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  left: 20px;
  padding: 20px;
  text-align: center;
  padding-left: 30px;
}

.signup-left-content h2 {
 
  font-size: 60px; /* Adjust font size as needed */
  margin-bottom: 10px;
}

.signup-left-content p {

  font-size: 16px;
}


.signup-right {
  width: 50%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10%;
}

.signup-right h2 {
  font-size: 24px;
  color: #000000;
}

.signup-form-group {
  width: 100%;
  margin-bottom: 20px;
}

.signup-button {
  width: 100%;
  height: 40px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-link {
  margin-top: 20px;
}

.signup-link a {
  color: #060708;
}

.signup-form-group .MuiTextField-root {
  width: 400px;
}